@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/satoshi');


.Search-img {
    background-image: url('./../../public/Search.svg');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
}
.Switcher {
    background-image: url('/Switcher.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.SearchBar-Input:focus {
    @apply outline-none;
}

.SearchBar-Input::placeholder {
    @apply font-bold ;
}

.Search-Bar:hover{
    @apply bg-[#dbd8d8] ;
}
.Search-img:hover{
    @apply bg-background ;
}


.Cart-img {
    background-image: url('./../../public/Cart.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.Heart-img {
    background-image: url('./../../public/Heart.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.Portait-img {
    background-image: url('./../../public/Portrait.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-fit: cover;
}
.Header{
    background-image: url('./../../public/Header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.StarsGray{
    background-image: url('./../../public/GrayStar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.StarsYellow{
    background-image: url('./../../public/YellowStar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.HeaderButton:hover{
    @apply bg-[#D87183] text-default ;
}

label{
    @apply text-textprimary;
}

.NavLinks:hover{
    @apply border-b-2 border-solid border-textprimary;
}
.SmallArrow {
    background-image: url('./../../public/SmallArrow.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;   
    background-position: right;
}
