@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "rsuite/dist/rsuite.css";
#root{ padding: 10px}
@tailwind base;
@tailwind components;
@tailwind utilities;
html,body {
  @apply h-full select-none font-poppins font-medium bg-default w-[100%] m-0 p-0;
}
@layer components {
  .primary-btn {
    @apply py-[1.6vh] px-[3vw] min-w-[11vw] hover:bg-btnprimary m-auto rounded-2xl transition duration-150 bg-[length:32px_32px] bg-no-repeat  bg-[0.7vw_1.2vh] flex;
  }     
  .primary-btn label{       
    @apply text-primary relative top-[0.3vh] cursor-pointer;
  } 
  .Stats{
    @apply bg-default rounded-2xl h-[15.7vh] w-[20.4vw] shadow-[2px_4px_4px_#68B6FF0D] relative animate-[300ms_pulse_forwards];
  }
  .Stat-Pic{
    @apply w-[5.5vw] h-[5.5vw] m-auto rounded-xl absolute top-[2.4vh] left-[1.2vw] bg-[length:60px_60px] bg-no-repeat bg-center;  
  }
  .label-top{
    @apply relative h-[4.47vh] w-[fit] text-[3.7vh] text-fonts flex m-auto transition duration-150;
  } 
  .label-bottom{
    @apply absolute left-[8.8vw] top-[10vh] h-[3vh] w-[11vw] text-[16px] text-[#B8B7BC];
  } 

  .Label-Holder{
    @apply  w-[70vw] h-[4vh] absolute top-[2vh] left-[1.5vw] flex;
  }
  .Label-Holder label{
    @apply w-[8vw] h-[3vh] text-fonts text-lg text-center m-auto font-semibold text-[15px];
  }   
  .Data-Holder{
    @apply  w-[70vw] min-h-[5vh] relative left-[0vw] flex  hover:bg-[#faf9f9] transition duration-150;
  } 
  .Data-Holder label{
    @apply w-[8vw] h-[3vh] text-fonts text-lg text-center m-auto font-medium text-[14px];
  }

  .DataCarrier::-webkit-scrollbar {
    left: 2vw;
    width: 8px;
    position: absolute;
}

.DataCarrier::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.DataCarrier::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #464554;
}

.Stat-label{
  @apply w-[8vw] h-[3vh] text-fonts text-lg text-center m-auto font-medium text-[120px]; 
}

.List-1{
  @apply w-[3.9vw] h-[10.9vh] bg-default absolute top-[2.9vh] z-[60] shadow-[2px_4px_6px_1px_#4E87A817] rounded-[3px] flex flex-col;

}
.List-2{
  @apply w-[4.4vw] h-[10vh] bg-default absolute right-[3.6vw] z-[60] shadow-[2px_4px_6px_1px_#4E87A817] rounded-[3px] flex flex-col;

}

.List-1 li {
  @apply m-auto  h-[3vh] w-[3.5vw] rounded-sm hover:bg-[#F2F2F2] transition duration-150;
}
.List-2 li {
  @apply m-auto  h-[3vh] w-[4vw] rounded-sm hover:bg-[#F2F2F2] transition duration-150 text-[13px];
}

.fade-in {
 animation : fadeIn 0.2s forwards;
}

.fade-out {
  animation : fadeOut 0.2s forwards;
} 

.button {
  padding: 1.6vh 2.7vw;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  @apply text-form;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #68B6FF;
  transition:700ms;
}

.button:hover {
  @apply text-default;
  transform: scale(1.06);
  outline: 2px solid #53A9F9;
  box-shadow: 4px 5px 17px -4px #53A9F9;
  transition:700ms;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  @apply bg-form;
  transform: skewX(45deg);
  z-index: -1;
  transition: 700ms;
}

.button:hover::before {
  width: 250%;
}
.button:active {
  transform: translateY(4px) scale(1.05);

}

form input[type="text"] {
  @apply w-[14.1vw] h-[3.5vh] m-auto text-secondary focus:outline-none;

}
form input[type="text"]:focus + h1 {
  @apply bg-form;
}

form input[type="date"] {
  @apply w-[14.1vw] h-[3.5vh] m-auto text-secondary focus:outline-none;
  

}

form input[type="number"] {
  @apply w-[14.1vw] h-[3.5vh] m-auto text-secondary focus:outline-none;
  
}

form input[type="date"]:focus + h1 {
  @apply bg-form;
}

form input[type="number"]:focus + h1 {
  @apply bg-form;
}

.form-div h1{
  @apply bg-[#E3E3E3] w-[100%] h-[0.2vh] relative top-[-1vh] transition ;
} 
.form-div label{

  @apply text-form relative top-[1vh];
}

.unit {
  @apply w-[9.8vw] h-[3.5vh] text-secondary right-[2.2vw] relative !important;

} 
.unit-h1{
  @apply bg-[#E3E3E3] w-[9.8vw] h-[0.2vh] relative top-[-1vh] transition  !important; 
}
.unit:focus + .unit-h1 {
  @apply bg-form !important;
}

.unit-type-h1{
  @apply bg-[#E3E3E3] w-[3.2vw] h-[0.2vh] relative top-[-2vh] transition  !important; 
}
.unit-type{
  @apply w-[3.2vw] h-[3.5vh] text-secondary top-[-2.2vh]  relative focus:outline-none !important;
}
.unit-type:focus + .unit-type-h1 {
  @apply bg-form !important;
}

.decimal{
  @apply text-[16px];
}

.total{
  @apply text-form !important;
}


p {
  @apply relative max-w-fit max-h-[0] m-0 p-0 top-[-2vh];
} 
a:link {
  text-decoration: none;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    } 
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.98);
    }
    70% {
      transform: scale(1);
      
    }
    100% {
      transform: scale(0.98);
    }
  }

  @keyframes PopIn {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes PopOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.6);
    }
  }
} 
